"*":
  "exception-reporting":
    userId: "144206c5-cc39-585a-cadb-24684c7fa296"
  welcome:
    showOnStartup: false
  core:
    disabledPackages: [
      "emmet"
    ]
  editor:
    invisibles: {}
    tabLength: 4
    showInvisibles: true
    softWrap: true
    showIndentGuide: true
  linter: {}
  pigments: {}
  minimap:
    scrollAnimation: true
  "js-autoimport":
    spaceForNamedImports: false
  "markdown-preview":
    useGitHubStyle: true
  "atom-beautify": {}
